
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    /* min-height: 100vh; */
    padding: 1px;
    background: #20b2aa;
}

.pagination ul {
    display: flex;
    background:#fff;
    padding: 3px;
    border-radius: 25px;
    margin: 5px 0;
}

.pagination ul li {
    color: #20b2aa;
    list-style: none;
    line-height: 34px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: all .5s ease;
}

.pagination ul li.numb {
    border-radius: 25px;
    height: 35px;
    min-width: 35px;
    margin: 0 3px;
}

.pagination ul li.dots {
    font-size: 22px;
    cursor: default;
    /* margin-right: 12px; */
}

.pagination ul li.btn {
    padding: 0 12px;   
}

.blure {
    display: none;   
}

.pagination ul li.prev {
    border-radius: 25px 5px 5px 25px;
}

.pagination ul li.next {
    border-radius: 5px 25px 25px 5px;
    margin-left: 12px;
}

.pagination ul li.numb:hover,
.pagination ul li.active,
.pagination ul li.btn:hover {
    background: #20b2aa;
    color: #fff;
}