.App {
  /* text-align: center; */
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-areas: 
  "h h"
  "n mc";
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 1fr 11fr;
}

.mainContent {
  grid-area: mc;
  align-self: start;
  background-color: bisque;  
  border: 3px solid gold;  
}







