.nav {
    grid-area: n;
    grid-row-end: span;
    background-color: aliceblue;
    padding-top: 20px;
  }
  
.default {
  font-size: 20px;
  display: block;
  margin-bottom: 5px;
  color: tomato;
  padding-left: 40px;
  text-decoration: none;
}

.active {
  background: tomato;
  color: white;
}